<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>To select a file to upload.</string>
        <key>UIBackgroundModes</key>
        <array>
            <string>remote-notification</string>
        </array>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>$(PRODUCT_NAME)</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>1</string>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>UILaunchStoryboardName</key>
        <string>Launch Screen</string>
        <key>UIMainStoryboardFile</key>
        <string>Main</string>
        <key>UIRequiredDeviceCapabilities</key>
        <array>
            <string>armv7</string>
        </array>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationPortraitUpsideDown</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSExceptionDomains</key>
            <dict>
                <key>amazonaws.com</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                    <key>NSThirdPartyExceptionMinimumTLSVersion</key>
                    <string>TLSv1.0</string>
                    <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                    <false/>
                </dict>
                <key>cloudfront.net</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <true/>
                    <key>NSThirdPartyExceptionMinimumTLSVersion</key>
                    <string>TLSv1.0</string>
                    <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
                    <false/>
                </dict>
            </dict>
        </dict>
        <key>AWS</key>
        <dict>
            <key>PinpointAnalytics</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>AppId</key>
                    <string>bfc63d8ef4904b86b558e12939962f86</string>
                    <key>Region</key>
                    <string>us-east-1</string>
                </dict>
            </dict>
            <key>PinpointTargeting</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>Region</key>
                    <string>us-east-1</string>
                </dict>
            </dict>
            <key>IdentityManager</key>
            <dict>
                <key>Default</key>
                <dict/>
            </dict>
            <key>CognitoUserPool</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>CognitoUserPoolId</key>
                    <string>us-east-1_G2Z4VyqVt</string>
                    <key>CognitoUserPoolAppClientId</key>
                    <string>1gmv3alk7lhre46m0ncctrae17</string>
                    <key>Region</key>
                    <string>us-east-1</string>
                    <key>CognitoUserPoolAppClientSecret</key>
                    <string>5g2vk74d5e84er09cqkt95qil1k28it2n3afbjfn7g9336gn9li</string>
                </dict>
            </dict>
            <key>DynamoDBObjectMapper</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>Region</key>
                    <string>us-east-1</string>
                </dict>
            </dict>
            <key>CredentialsProvider</key>
            <dict>
                <key>CognitoIdentity</key>
                <dict>
                    <key>Default</key>
                    <dict>
                        <key>PoolId</key>
                        <string>us-east-1:ae2a0664-e6bd-4061-b7fb-3dbed403955a</string>
                        <key>Region</key>
                        <string>us-east-1</string>
                    </dict>
                </dict>
            </dict>
            <key>Cognito</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>Region</key>
                    <string>us-east-1</string>
                </dict>
            </dict>
            <key>MobileHub</key>
            <dict>
                <key>ProjectClientId</key>
                <string>MobileHub a6c76cac-9886-4ba8-ba73-c212dd58fe75 aws-my-sample-app-ios-swift-v0.19</string>
            </dict>
            <key>UserFileManager</key>
            <dict>
                <key>Default</key>
                <dict>
                    <key>S3Bucket</key>
                    <string>airsplit-userfiles-mobilehub-2093393909</string>
                    <key>Region</key>
                    <string>us-east-1</string>
                </dict>
            </dict>
        </dict>
    </dict>
</plist>
